//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@industry-theme:registry=https://registry.npmjs.org/
@principal-ade:registry=https://registry.npmjs.org/
@principal-ai:registry=https://registry.npmjs.org/
